.navbar{
    background-color:cornflowerblue;
    position: sticky;
    top: 0;
    height: var(--navbar-height);
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    span{
        flex: 1 1 auto;
        margin-left: 20px;
    }

    ul.nav-links {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        margin-right: 20px;
    }

}